<h1>Main#welcome</h1>
<p>Find me in app/views/main/welcome.html.erb</p>
<%= javascript_pack_tag 'hello_react' %>

<Jumbotron fluid>
<Container>
<Row>
  <Col><h1 class="float-left">Never86's</h1></Col>
  <Col><h2 class="float-right">{props.name}</h2></Col>
</Row>
</Container>
</Jumbotron>