<p id="notice"><%= notice %></p>

<h1>Bottles</h1>
<div class="row">
    <% @bottles.each do |bottle| %>
        <%= render "bottles/card", bottle: bottle %>
    <% end %>
</div>
<br>

<%= link_to 'Add a Bottle', new_bar_bottle_path(@bar) %>
