
<style type="text/css">
.nav{
  background-color: #123c69;
  position: relative;
  height: 100px;
}
.nav::after,
.nav::before {
  position: absolute; 
  content: '';
  width: 600px;
  height: 100px;
  background: #001437;
  z-index: 2;
}
.nav::before {
  left:-60px;
  transform: skewY(25deg);
  transform: skewX(25deg);
  z-index: 2;
}
.nav::after{
  animation-name: lipstick;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: 2s;
}
.nav--text{
  margin-left: 50px;
  color: #09FBD3;
  font-family: sans-serif;
  font-size: 2.553em;
  z-index:3;
}
.button-container{
  display:flex; 
  justify-content: space-evenly;
  width: 250px;
  margin-right: 50px;
}
.--button{
  background-color: #09FBD3;
  border: solid 2px transparent;
  border-radius: 4px;
  color: #123c69;
  font-size:  1.5em;
  outline: none;
}
.--button:hover {
  color: #09FBD3; 
  background-color: rgba(255, 0, 0, 0.0); 
  border:2px solid #09FBD3;
  }
  .--button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
@keyframes lipstick {
  from {
  left:-120px;
  transform: skewY(25deg);
  transform: skewX(-25deg);
  background: #ff2281;
  z-index: 1; 
  }
  to {
  left:80px;
  transform: skewY(25deg);
  transform: skewX(-25deg);
  background: #ff2281;
  z-index: 1; 
  }
}

</style>
<header>
  <div class="d-flex flex-column flex-md-row align-items-center mb-3 shadow mb-5 mb-5 nav">
    <h5 class="my-0 mr-md-auto font-weight-bold text-uppercase nav--text">never 86'd</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <%= link_to 'Link', '#', class: ['p-2', 'text-dark'] %>
    </nav>
    <div class="button-container">
    <% if logged_in? %>
      <%= link_to 'Logout', logout_path, method: :delete, class: ['btn', '--button'] %>
    <% else %>
    <%= link_to 'Sign Up', new_user_path, class: ['btn', '--button'] %>&nbsp;
    <%= link_to 'Login', login_path, class: ['btn', '--button'] %>
    <% end %>
    </div>
  </div>
</header>